<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8" th:remove="tag">
<link th:href="@{/css/index.css}" rel="stylesheet">
<title>Note/新規作成</title>
</head>
<body>
	<div layout:fragment="content">
	<div class="box">
		<h2 style="background: linear-gradient(transparent 70%, #ff7f7f 0%); text-align:center;">
			<i style="font-size: 3vmax; color: black;">新規作成</i>
		</h2>
		
		<p th:text="${agein}">もう一度入力してください</p>
		
		<form th:action="@{/process}" method="post" th:object="${note}">
			<input type="hidden" th:field="*{id}">
			<input type="hidden" th:field="*{date}">
			<div>
				<label for="name" class="form-label">氏名</label>
				<input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{name}">
				<div class="invalid-feedback" th:errors="*{name}"></div>
			</div>
			<div>
				<label for="content" class="form-label">内容</label>
				<textarea class="form-control" rows="5" cols="50" th:errorclass="is-invalid" th:field="*{content}"></textarea>
				<div class="invalid-feedback" th:errors="*{content}"></div>
			</div>
			<br>
			
			<button class="btn btn-primary">保存</button>
		</form>
	</div>
	</div>
</body>
</html>