<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<head>
<meta charset="UTF-8" th:remove="tag">
<link th:href="@{/css/index.css}" rel="stylesheet">
<title>ContactNote</title>
</head>
<body>


	<div layout:fragment="content">
	<div class="box">
		<h1 style="background: linear-gradient(transparent 70%, #ffff7f 0%); text-align:center; margin-bottom: 20px;">
			<i style="font-size: 5vmax; color: black;">ContactNote</i>
		</h1>
		
		<!-- ログインユーザーネーム -->
		こんにちは <i th:text="${userid}"></i> さん
		
		<!-- ページネーションを追加 -->
		<div th:replace="~{fragments/pagination :: pagination}"></div>
		
		<p th:text="${add}">追加しました</p>
		<p th:text="${delete}">削除しました</p>
		<p th:text=${user}></p>
		
		  <br>
			<div th:if="${page.totalPages > 0}">

		
				<div th:each="note : ${page}" th:object="${note}" class="shadow-lg p-3 mb-5 bg-white rounded">
					<div style="text-decoration: underline">
						#<i th:text="*{id}"></i>
						<i th:text="*{date}"></i>
						<i th:text="*{name}"></i>
						<i th:text=*{userId}></i>
						<br>
					</div>
					<i style="text-decoration: underline">内容</i>
					<pre style="font-size: 110%" th:text="*{content}"></pre>
										
					<div style="display:inline-flex">
						<form th:action="@{edit/{id}(id=*{id})}" method="get">
							<input class="btn btn-secondary" type="submit" value="編集" style="margin-right: 10px;">
						</form>
						<form th:action="@{/delete/{id}(id=*{id})}" method="get">
							<input class="btn btn-danger" type="submit" value="削除">
						</form>
					</div>
				</div>
				<div style="display:inline-flex">
					<form th:action="@{/add}" method="get">
					  	<input class="btn btn-primary" type="submit" value="新規作成" style="margin-right: 10px">
					</form>
					<form th:action="@{/logout}" method="post">
					  	<input class="btn btn-primary" type="submit" value="ログアウト">
					</form>
				</div>
				<hr>
				<!-- ページネーションを追加 -->
				<div th:replace="~{fragments/pagination :: pagination}"></div>
			</div>
	</div>
	</div>
</body>
</html>